/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Every element is a border-box  */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Architects Daughter', cursive;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background: #aca1a1;
}

.name-header {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  background-color: lightgrey;
  color: white;
}

.name-header h1 {
  display: flex;
  font-size: 4rem;
}

.header-nav {
  display: flex;
  justify-content: left;
}

.header-nav a {
  border: 0.1rem solid white;
  color: black;
  text-decoration: none;
  width: 15rem;
  margin-bottom: 2rem;
  color: white;
  padding-left: 1rem;
}

.header-nav a:hover {
  background-color: black;
  color: white;
}

.info-container {
  display: flex;
}

.info-container .about-me-image {
  margin: 2rem 2rem;
  max-width: 40rem;
}

.info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.info h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.info a {
  color: white;
  text-decoration: none;
  border: 0.1rem solid white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.info a:hover {
  background-color: black;
  color: white;
}

.my-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.my-projects div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5rem 5rem;
  color: white;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  color: white;
  background-color: lightgrey;
  text-align: center;
}

.contact-me p {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact-me a {
  color: white;
  text-decoration: none;
  border: 0.1rem solid white;
  padding: 1rem;
  font-size: 2rem;
}

.contact-me a:hover {
  background-color: black;
  color: white;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 5rem;
  padding: 2rem;
}

.social a:hover {
  background-color: black;
  color: white;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .name-header {
    display: flex;
    align-items: center;
    background: #aca1a1;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .header-nav a {
    margin: 0;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-container .about-me-image {
    display: flex;
    margin: 2rem auto;
  }

  .info a {
    display: flex;
    margin-top: 1rem;
  }

  .info p {
    display: flex;
    margin-top: 2rem;
  }

  footer {
    background: #aca1a1;
  }
}

@media screen and (max-width: 500px) {
  .name-header {
    display: flex;
    align-items: center;
    background-color: black;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .header-nav a {
    margin: 0;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-container .about-me-image {
    display: flex;
    margin: 2rem auto;
  }

  .info a {
    display: flex;
    margin-top: 1rem;
  }

  .info p {
    display: flex;
    margin-top: 2rem;
  }

  footer {
    background-color: black;
  }
}
